.mypage-header h2 {
  margin: 0;
  padding: 16px 16px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

body {
  margin: 0;
  background-color: #f4f6fa;
  font-family: sans-serif;
}

.mypage {
  padding: 20px;
  padding-bottom: 80px; /* 하단바 가리기 방지 */
}

.section {
  text-align: center;
  background-color: transparent;
  margin-bottom: 30px;
}

.divider {
  height: 8px;
  background-color: white;
  margin: 0 -20px; /* 주변 padding 보정 */
}

/* 프로필 스타일 */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0); /* 글자색 흰색 */
  font-size: 13px; /* 글자 크기 조정 */
  border-radius: 50%;
  display: flex; /* 정렬을 위해 flex 사용 */
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 세로 가운데 */
  margin-bottom: 10px;
}

.profile-name {
  font-weight: bold;
  font-size: 16px;
}

.edit-info {
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #ffffff; /* 배경 흰색 */
  color: #3a66e6; /* 글자 색 파랑 */
  border-radius: 10px;
  font-size: 13px;
  text-decoration: none;
}

/* 전공 이수학점 */
.progress-section {
  background-color: #f6f8ff;
  border-radius: 12px;
  padding: 20px;
}

.progress-text {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.progress-circle {
  width: 80px;
  height: 80px;
  background: conic-gradient(#3a66e6 0% 70%, #eee 70% 100%);
  border-radius: 50%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percent {
  font-size: 16px;
  font-weight: bold;
  color: #3a66e6;
}

.progress-detail {
  font-size: 13px;
  color: #666;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* ← 위로 몰리지 않게 조절 */
  padding-top: 15px;
  z-index: 100;
}

.nav-item {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
}

.nav-item svg {
  display: block;
  margin: 0 auto 4px;
}

.nav-item.active span {
  color: #3a66e6;
}

.nav-item.active svg {
  fill: #3a66e6;
}
